doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        style
            include css/index.css
    body
        header
            block title
            block description
        main
            .info 
                div
                p placeholder
        footer
            h3 Nataha Tours
            p &copy; 2022 Nataha Tours. All rights reserved.